{
    "extends": [
      "eslint:recommended",
      "standard",
      "standard-jsx"
    ],
    "env": {
      "es6": true
    },
    "parserOptions": {
      "ecmaVersion": 8,
      "ecmaFeatures": {
        "experimentalObjectRestSpread": true
      }
    },
    "rules": {
      "no-unused-vars": "warn",
      "no-var": "error",
      "consistent-return": "warn",
      "complexity": ["warn", { "max": 15 }],
      "padding-line-between-statements": [
        "error",
        { "blankLine": "always", "prev": "let", "next": "*" },
        { "blankLine": "any", "prev": "let", "next": "let" },
        { "blankLine": "any", "prev": "let", "next": "const" },
        { "blankLine": "always", "prev": "const", "next": "*" },
        { "blankLine": "any", "prev": "const", "next": "const" },
        { "blankLine": "any", "prev": "const", "next": "let" },
        { "blankLine": "always", "prev": "*", "next": "return" }
      ]
    },
    "overrides": [
      {
        "files": [
          "packages/react/**/*.js"
        ],
        "extends": [
          "eslint:recommended",
          "standard",
          "standard-jsx",
          "react-app",
          "react-app/jest"
        ],
        "env": {
          "jest/globals": true
        },
        "plugins": ["jest"]
      }
    ]
  }
